:root {
    --bg-main: #0f172a;
    --bg-secondary: #111827;
    --accent: #3b82f6;
    --text: #ebecf0;
    --card: #1f2933;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--text);
    background: var(--bg-secondary);
    font-family: Arial, sans-serif;

    display: flex;
    flex-direction: column;
   
}

body.dark {
    --bg-main: #f8fafc;
    --bg-secondary: #e2e8f0;
    --card: #ffffff;
    --text: #0f172a;
    --accent: #2563eb;
}

#darkToggle {
    color: var(--text);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
}

/* HEADER */
.navbar {
    background-color: var(--bg-main);
}

.navbar img {
    height: 45px;
    margin: auto;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar ul {
    gap: 30px;
}

.nav-item #darkToggle{
    margin-top: 5px;
}

.navbar .nav-link {
    color: var(--text);
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0%;
    height: 2px;
    background: var(--accent);
    transition: 0.3s;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--accent);
}

.navbar .nav-link:hover::after {
    width: 100%;
}

.navbar .nav-link:visited,
.navbar .nav-link:active {
    color: var(--text);
}

/* FOOTER */
.footer {
    background: #222;
    color: white;
}

.icon {
    width: 70px;
    height: 70px;
    background-image: url('../assets/image/socialmedia/socialmedias.png');
    background-repeat: no-repeat;
    background-size: 300% 300%;
    display: inline-block;
}

.icon-facebook {
    background-position: 50% 5%;
}

.icon-instagram {
    background-position: 5% 5%;
}

.icon-twitter {
    background-position: 50% 95%;
}

/* FORM */
.card {
    background: var(--card);
    color: var(--text);
    border: none;
}

#formContacto{
    min-height: 530px;
}
.form-control {
    color: var(--text);
    border: 1px solid #444;
}

.form-control:focus {
    border-color: var(--accent);
    box-shadow: none;
}

.invalid-feedback {
    display: none;
}

.form-control.is-invalid+.invalid-feedback {
    display: block;
}

.btn-outline-warning{
    background-color: var(--card);
}

.modal-content {
    background: var(--card);
    color: var(--text);

}

.modal .card {
    background: var(--bg-secondary);
    color: var(--text);
}

.alert-light {
    background: #f1f5f9;
}

