:root {
    --bg-main: #0f172a;
    --bg-secondary: #111827;
    --accent: #3b82f6;
    --text: #ebecf0;
    --card: #1f2933;
}

* {
    margin: 0;
    padding: 0;
}
body.dark {
    --bg-main: #f8fafc;
    --bg-secondary: #e2e8f0;
    --card: #ffffff;
    --text: #0f172a;
    --accent: #2563eb;
}

body {
    color: var(--text);
    background: var(--bg-main);
    font-family: Arial, sans-serif;
}

#darkToggle {
    color: var(--text);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: var(--bg-main);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.logo img {
    width: 40px;
    height: 40px;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav a {
    color: var(--text);
    text-decoration: none;
    position: relative;
    font-size: 0.95rem;
    transition: 0.3s;
}


.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: var(--accent);
    transition: 0.3s;
}

.nav a:hover {
    color: var(--accent);
}

.nav a:hover::after {
    width: 100%;
}

/* DESTINOS */

.destinos h1 {
    font-size: 2rem;
}

/* FILTROS */
.filtros {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.filtros label {
    padding: 8px 16px;
    background: var(--card);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid transparent;
}

.filtros label:hover {
    border: 1px solid var(--accent);
    color: var(--accent);
}

.grid {
    column-count: 2;
    column-gap: 10px;
    padding: 20px;
}

.grid .card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    background: var(--card);
    margin-bottom: 10px;
}

.grid .card img {
    width: 100%;
    margin: 5px;
    border-radius: 10px;
}

.grid .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    transform: translateY(100%);
    transition: 0.3s;
}

.grid .card:hover .overlay {
    transform: translateY(0);
}

.grid .card img {
    transition: 0.3s;
}

.grid .card:hover img {
    transform: scale(1.1);
}

.destinos input {
    display: none;
}

/* FILTRO  */
#cultural:checked~.grid .card:not(.cultural),
#naturaleza:checked~.grid .card:not(.naturaleza),
#playa:checked~.grid .card:not(.playa),
#gastronomico:checked~.grid .card:not(.gastronomico),
#religioso:checked~.grid .card:not(.religioso) {
    display: none;
}

@media (max-width: 600px) {
    .grid {
        columns: 1;
    }
}

/* TABLA */
.tabla-container {
    padding: 20px;
    overflow-x: auto;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    background: var(--card);
    border-radius: 12px;
    overflow: hidden;
    min-width: 600px;
}

.tabla thead {
    background: var(--bg-main);
}

.tabla th {
    color: var(--accent);
    text-align: left;
    padding: 14px;
    font-size: 0.95rem;
}

.tabla td {
    padding: 14px;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.tabla tbody tr {
    transition: 0.3s;
}

.tabla tbody tr:hover {
    background: rgba(59, 130, 246, 0.1);
}

#cultural:checked~.filtros label[for="cultural"] {
    background: var(--accent);
}

#naturaleza:checked~.filtros label[for="naturaleza"] {
    background: var(--accent);
}

#playa:checked~.filtros label[for="playa"] {
    background: var(--accent);
}

#gastronomia:checked~.filtros label[for="gastronomia"] {
    background: var(--accent);
}

#religioso:checked~.filtros label[for="religioso"] {
    background: var(--accent);
}

@media (max-width: 600px) {

    .tabla thead {
        display: none;
    }

    .tabla,
    .tabla tbody,
    .tabla tr,
    .tabla td {
        display: block;
        width: 100%;
    }

    .tabla tr {
        margin-bottom: 15px;
        background: var(--card);
        border-radius: 10px;
        padding: 10px;
    }

    .tabla td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: none;
    }

    .tabla td::before {
        content: attr(data-label);
        font-weight: bold;
        color: var(--accent);
    }
}

/* FOOTER */
.footer {
    background: #222;
    color: white;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter {
    text-align: left;
}

.newsletter h3 {
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.newsletter input {
    flex: 1;
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #000;
}

.newsletter button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    background-color: var(--accent);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter button:hover {
    background-color: #2563eb;
}

.map iframe {
    width: 300px;
    height: 150px;
    border: none;
}

.footer p {
    text-align: center;
}